<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to WebXR Samples</p>
  <ul>
    <li><a href="/three">Three.js Test</a></li>
    <li><a href="/three-webxr">Three.js WebXR</a></li>
  </ul>
</body>

</html>