<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WebXR AR Hitest</title>
    <style>
        body {
            margin: 0;
        }
    </style>

    <script type="importmap">
    {
        "imports": {
            "three": "./build/three.module.js",
            "three/addons/": "./jsm/",
            "ratk/": "./ratk/"
        }
    }
    </script>
</head>

<body style="background-color: grey;">
    <script type="module" src="js/ratk-hittest.js"></script>
</body>

</html>